//===============================================================================
// VARIABLES
//===============================================================================
$paper:  white;
$ink:    black;

$sky: #5AC4B6;
$sky-2: #94d2b7;
$sky-3: #cee5b7;
$land: #CACE47;